.menu-items{
    border-bottom: solid 1px brown;
    font-size: 20px;
}
h3{
    color: #00b3ee;
}
.menu-items:hover{
    background-color: lightyellow;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    display: none;
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #337AB7;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav a:hover, .offcanvas a:focus{
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 100px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.img-toggle-details{
    width: 12px;
    height: 15px;
    margin-bottom: 2px
}
.img-toggle-details:hover{
    width: 22px;
    height: 25px;
}
.items-details {
    transition: all linear 0.2s;
    background-color: lightsalmon;
    height: 100px;
}

.items-details.ng-hide {
    height: 0;
}
h4{
    color: saddlebrown;
}
.media-body h5{
    color: blue;
}
.center {
    margin: auto;
    width: 8%;
    border: 2px dashed green;
    border-radius: 25px;
}
.topcorner{
    position:absolute;
    top:10px;
    right:10px;
}
.edit-dish-input{
    width: 300px;
    font-size: 15px;
}
.validation-msg-span{
    margin-left: 520px;
}
.validation-msg-span-merchant{
    margin-left: 520px;
}
.custom-navs-style{
    background-color: #2b542c;
    font-family: 'Helvetica';
    font-size: large;
    border: 2px solid whitesmoke
}
legend{
    font-size: 20px;
    color: #8a6d3b;
    border: solid 1px blue;
    border-radius: 10px;
    width: 45%;
    padding: 8px;
}
label{
    font-size: 18px;
    margin-bottom: 5px;
    background-color:transparent;
}
.form-animate{
    opacity: 1.0;
    animation-name: example;
    animation-duration: 1s;
    transition: width 1s;
    position: relative;
}
@keyframes example {
    from {opacity: 0.1; left:200px}
    to {opacity: 1.0; left:0px}
}
.reviews-user h4,h5,p{
    font-size: larger;
}

.btn-main{
    background-color: #2B542C;
    font-size: 15px;
    width: 125px;
}
