<!DOCTYPE html>
<html ng-app="myRestaurant">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sam's Eatery</title>

    <!-- Style Sheets -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/AppStyle.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-toastr/dist/angular-toastr.css"/>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script data-require="ng-messages@1.3.16" data-semver="1.3.16" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-messages.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD4aNkFX07tovcjqn_zMfKw1gzra7e8jgU&libraries=places&sensor=false"></script>
    <script src="libs/ngAutocomplete.js"></script>
    <script src="libs/letterOnlyDirective.js"></script>
    <script src="app/app.js"></script>


    <!-- Services -->
    <script src="app/services.js"></script>
    <script src="common/services/common.services.js"></script>
    <script src="common/services/restaurantResources.js"></script>
    <script src="common/services/restaurantMenuMock.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="app/menuDetails/menuListCtrl.js"></script>
    <script src="app/menuDetails/dishInfoCtrl.js"></script>
    <script src="app/menuDetails/newDishEntryCtrl.js"></script>
    <script src="app/menuDetails/userReviewCtrl.js"></script>
    <script src="app/UserDetails/HomeViewCtrl.js"></script>
    <script src="app/RestaurantInfo/restaurantsListCtrl.js"></script>
    <script src="app/RestaurantInfo/restaurantDetails.js"></script>
    <script src="app/DataAnalytics/sellAnalysisCtrl.js"></script>

</head>
<body ng-controller="HomeViewController as vm">

<div class="center">
    <img class="img-circle img-responsive" width="125" height="150" src="images/logo1.png">
</div>
<div class="topcorner">
    <a ui-sref="home.login"
       ui-sref-active="active" class="btn-info btn" ng-click="vm.isGetttingStartClicked = true">
        Sign in
    </a>
    <label id="uwelcome"></label>
    <img src="images/bag.png" width="50" onclick="showBag()">
</div>
<div class="col-lg-1" style="margin-left: -555px; width: 200px">
    <div id="bagDiv" class="sidenav">
        <h3 style="margin-left: 20px; color: silver"><u>Your bag is Empty</u></h3>
        <a href="javascript:void(0)" class="closebtn" onclick="hideBag()">&times;</a>
    </div>
</div>
<nav class="navbar navbar-inverse custom-navs-style">
    <div class="container">
        <a class="navbar-brand" ui-sref="home" style="font-size: larger; font-weight: bold">Food Bazar</a>
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div ng-if="vm.isMerchant" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="storeFront">Menu</a></li>
                <li><a ui-sref="newDish({dishId:0})">New Dish</a></li>
                <li><a ui-sref="analytics">Sales Analysis</a></li>
                <!--<li><a ui-sref="emplEdit{emplId:0}"><i class="glyphicon glyphicon-plus"></i> Add Employee </a></li>-->
            </ul>
        </div>
        <div ng-if="!vm.isMerchant" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="restaurantsList">Restaurants</a></li>
                <!--<li><a ui-sref="emplEdit{emplId:0}"><i class="glyphicon glyphicon-plus"></i> Add Employee </a></li>-->
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div ui-view></div>
</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.display = "block";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.display = "none";
    }
    function showBag(){
        document.getElementById("bagDiv").style.display = "block";
    }
    function hideBag() {
        document.getElementById("bagDiv").style.display = "none";
    }
</script>
</body>
</html>