<!DOCTYPE html>
<html ng-app="myRestaurant">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sam's Eatery</title>

    <!-- Style Sheets -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/AppStyle.css"/>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="app/app.js"></script>

    <!-- Services -->
    <script src="common/services/common.services.js"></script>
    <script src="common/services/restaurantResources.js"></script>
    <script src="common/services/restaurantMenuMock.js"></script>

    <script src="app/menuDetails/menuListCtrl.js"></script>

</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:small">
        <h2 align="center"> Menu : Sam's Kitchen </h2>
    </div >
</div>
<div class="container">
    <div class="row" ng-controller="menuListController as vm">
        <div class="col-lg-1" style="margin-left: -75px; width: 200px">
            <div id="mySidenav" class="sidenav">
                <h3 style="margin-left: 5px">Select Category</h3>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a ng-href="#" ng-click="vm.setSelectedCategory('Appetizer')">Appetizer</a>
                <a ng-href="#" ng-click="vm.setSelectedCategory('Tandoori')">Tandoori</a>
                <a ng-href="#" ng-click="vm.setSelectedCategory('Veg')">Vegetarian Entrees</a>
                <a ng-href="#" ng-click="vm.setSelectedCategory('Panner')">Paneer Entrees</a>
            </div>

            <span style="font-size:20px" onclick="openNav()">Select Category</span>
        </div>
        <div class="col-lg-7" style="background-color: lightblue; padding: 10px">
            <h2 style="margin-top: -5px">Food available @ Sam's Kitchen</h2>
            <ul class="media-list" ng-repeat="dish in vm.dishes | filter:{category: vm.selectedCategory}">
                <li class="media menu-items">
                    {{$index+1}}.  {{dish.name}}
                    <span style="float: right"> {{dish.price | currency}}
                        <img ng-click="vm.setSelectedDish(dish._id)" ng-src={{vm.getImgSrc(dish._id)}} class="img-toggle-details">
                    </span>
                    <div class="container" ng-hide=!vm.isDishSelected(dish._id)  style="align-items: center; padding: 5px">
                        <div class="row">
                            <div class="col-sm-2"><img ng-src={{dish.imageUrl}} height="100"></div>
                            <div class="col-sm-4"><p style="font-size: 20px; color: #2e6da4">{{dish.description}}</p></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-3" style="width: 350px">
            <h2 style="margin-top: -5px">User Reviews</h2>
            <ul class="media" ng-repeat="review in vm.reviews" style="margin-left: -25px;margin-top: 5px">
                <li class="media-list">
                    <div class="media-left">
                        <div style="background-color: darkorange; border-radius: 45px; width: 70px; height:70px; align-items: center">
                            <label style="padding-left: 28px;padding-top: 15px;font-size: 30px; font-family: 'Agency FB'">{{review.name[0]}}</label>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{review.name}}</h4>
                        <h5>{{review.title}}</h5>
                        <p>{{review.description}}</p>
                        <img ng-src={{vm.getStarImg(1,review.ratings)}} width="20px">
                        <img ng-src={{vm.getStarImg(2,review.ratings)}} width="20px">
                        <img ng-src={{vm.getStarImg(3,review.ratings)}} width="20px">
                        <img ng-src={{vm.getStarImg(4,review.ratings)}} width="20px">
                        <img ng-src={{vm.getStarImg(5,review.ratings)}} width="20px">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.display = "block";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.display = "none";
    }
</script>
</body>
</html>