<h1> Got a new Dish! Enter details below!!! </h1>
<form name="dishForm" class="form-horizontal">
    <div class="form-group"
         ng-class="{'has-error':dishForm.dishName.$invalid && !dishForm.dishName.$pristine}">
        <label for="dishName" class="col-md-2 control-label" style="text-align: left">Dish Name</label>
        <div class="col-md-2">
            <input type="text" id="dishName" name="dishName"
                   placeholder="Give Some mouth watering name"
                   ng-model="vm.dish.name" class="form-control edit-dish-input" required/>
        </div>
        <span ng-show="dishForm.dishName.$invalid && !dishForm.dishName.$pristine" class="help-block validation-msg-span">Enter a valid Dish name.</span>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="category" style="text-align: left">Select category</label>
        <div class="col-md-2">
            <select class="form-control edit-dish-input" id="category" name="category" ng-model="vm.dish.category" required>
                <option>Appetizer</option>
                <option>Tandoori</option>
                <option>Paneer</option>
                <option>Veg</option>
            </select>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error':dishForm.description.$invalid && !dishForm.description.$pristine}">
        <label for="description" class="col-md-2 control-label" style="text-align: left">Dish Description</label>
        <div class="col-md-2">
            <textarea rows="8" id="description" name="description"
                   placeholder="Fancy details higher sale"
                      ng-model="vm.dish.description" class="form-control edit-dish-input" required></textarea>
        </div>
        <span ng-show="dishForm.description.$invalid && !dishForm.description.$pristine" class="help-block validation-msg-span">Enter dish description.</span>
    </div>
    <div class="form-group"
         ng-class="{'has-error':dishForm.dishPrice.$invalid && !dishForm.dishPrice.$pristine}">
        <label for="dishPrice" class="col-md-2 control-label" style="text-align: left">Price</label>
        <div class="col-md-2">
            <input type="number" id="dishPrice" name="dishPrice"
                   ng-model="vm.dish.price" class="form-control edit-dish-input" required/>
        </div>
        <span ng-show="dishForm.dishPrice.$invalid && !dishForm.dishPrice.$pristine" class="help-block validation-msg-span">Price required!</span>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right: 10px"
                            ng-disabled="dishForm.$invalid"
                            ng-click="vm.submit()">Save
                    </button>
                </span>
        </div>
    </div>
</form>
